@tailwind base;
@tailwind components;
@tailwind utilities;

/* .roboto-thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
} */

/* Primary - White - #E6E1CD - 48 33% 85%
Secondary - Black - #252528  - 240 4% 15%
Accent - Red - #C34C13 - 19 82% 42% */
@layer base {
	:root {
		--background: 48 33% 85%; /*white*/
		--foreground: 240 4% 15%; /*black*/

		--muted: 48 33% 85%; /*white*/
		--muted-foreground: 240 4% 15%; /*black*/

		--popover: 48 33% 85%; /*white*/
		--popover-foreground: 240 4% 15%; /*black*/

		--card: 48 33% 85%; /*white*/
		--card-foreground: 240 4% 15%; /*black*/

		--border: 48 33% 85%; /*white*/
		--input: 48 33% 85%; /*white*/

		--primary: 240 4% 15%; /*black*/
		--primary-foreground: 48 33% 85%; /*white*/

		--secondary: 19 82% 42%; /*red*/
		--secondary-foreground: 240 4% 15%; /*black*/

		--accent: 19 82% 42%; /*red*/
		--accent-foreground: 240 4% 15%; /*black*/

		--destructive: 19 82% 42%; /*red*/
		--destructive-foreground: 48 33% 85%; /*white*/

		--ring: 19 82% 42%; /*red*/

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 4% 15%; /*black*/
		--foreground: 48 33% 85%; /*white*/

		--muted: 240 4% 15%; /*black*/
		--muted-foreground: 48 33% 85%; /*white*/

		--popover: 240 4% 15%; /*black*/
		--popover-foreground: 48 33% 85%; /*white*/

		--card: 240 4% 15%; /*black*/
		--card-foreground: 48 33% 85%; /*white*/

		--border: 240 4% 15%; /*black*/
		--input: 240 4% 15%; /*black*/

		--primary: 48 33% 85%; /*white*/
		--primary-foreground: 240 4% 15%; /*black*/

		--secondary: 19 82% 42%; /*red*/
		--secondary-foreground: 48 33% 85%; /*white*/

		--accent: 19 82% 42%; /*red*/
		--accent-foreground: 48 33% 85%; /*white*/

		--destructive: 19 82% 42%; /*red*/
		--destructive-foreground: 48 33% 85%; /*white*/

		--ring: hsl(212.7, 26.8%, 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
